.game {
    position: relative;
    height: 100%;
    width: 100%;
    display: none;
}
canvas {
    height: 100%;
    width: 100%;
}

.colorgrid {
    height: 10%;
    width: 10%;
    background-color: black;
}



