.lobby {
    position: relative;
    height: 100%;
    width: 100%;
    display: none;
}
.roomid {
    position: absolute;
    left: 50%;
    top: 5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
}

.lobby-list {
    background-color: rgba(245, 245, 245, 0.418);
    height: 20%;
    width: 350px;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border-radius: 25px;
}

.smallerbox {
    height: 93%;
    width: 93%;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border-radius: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-auto-rows: 50px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.smallerbox>div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background: white;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    font-size: xx-large;
}

.back-button {
    margin: 10px;
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: 4px solid white;
    border-radius: 10px;
}
.back-button:hover {
    background-color: rgba(255, 255, 0, 0.246);
    border-color: yellow;
    color: black;
    transition: 0.3s;
}

.back-button:active {
    background-color: #c7c7009f;
    border-color: yellow;
    color: black;
    transition: 0.3s;
}

.start-game-button-holder {
    background-color: transparent;
    margin: 0px;
    /* background-color: green; */
}
.start-game {
    margin: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0px solid white;
    border-radius: 10px;
}
.start-game:hover {
    background-color: rgba(0, 38, 255, 0.205);
    border-color: yellow;
    color: black;
    transition: 0.3s;
}

.start-game:active {
    background-color: #c7c7009f;
    border-color: yellow;
    color: black;
    transition: 0.3s;
}
